body {
    font-family: "tee_franklin_light", 'Source Sans Pro', "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
}

path.slice {
    stroke-width: 2px;
}

polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.page_a4 {
    width: 29cm;
    height: 20cm;
    clear: both;
    page-break-after: always;
}


/*#front_page {
    display: flex;
    flex-direction: row;
}*/

#front_page ul {
    list-style: none;
}

#front_page ul li {
    display: inline;
}

.overall_evaluation {
    float: left;
    width: 45%;
}

.highlow {
    padding-left: 10px;
    border-left: 1px #222 solid;
    float: right;
    width: 45%;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.pie {
    width: 33%;
    flex-grow: 1;
    flex-basis: 0;
}

.question {
    height: 100%;
    width: 100%;
}

.question .vis {
    height: 80%;
    width: 100%;
}

table {
    width: 100%;
}

td {
    text-align: center;
    text-shadow: -0.2px -0.2px 0 #000, 0.2px -0.2px 0 #000, -0.2px 0.2px 0 #000, 0.2px 0.2px 0 #000;
}

th:first-child, td:first-child {
    width: 50%;
    max-width: 50%;
    text-align: left;
}
